<h1>Spring Forward Events Planner!</h1>
<%= link_to 'Add new event', new_event_path, class: 'button success' %>
<table>
  <thead>
    <tr>
      <th width="200">Event name</th>
      <th>Venue</th>
      <th width="150">Date</th>
      <th width="150">Time</th>
      <th width="150"></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.venue %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event, :method => 'delete' %></td>
      </tr>
      <% end %>
  </tbody>
</table>