<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SF Events planner" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div data-alert class="alert-box success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div data-alert class="alert-box alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
